* {
    box-sizing    : border-box;
    font-family   : "Montserrat", sans-serif;
}

.app {
    color     : white;
    background: $background-color;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 600;
}

body {
    font-size: $font-size;
}

.fz-sm {
    font-size: 13px;
}

.ta-center {
    text-align: center;
}

.mb-max {
    margin-bottom: 24px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.capitalize {
    text-transform: capitalize;
}

.app-heading {
    font-size  : 32px;
    line-height: 1;
    text-align : center;
}

.app-subheading {
    margin    : 24px auto;
    text-align: center;
    width     : 80%;

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.app-line {
    position: relative;
    top     : -120px;
}

.multiselect {
    &__tags {
        // background      : $background-select;
        background      : none;
        // border-radius: 0;
        border-radius   : $border-radius;
        border          : 1px solid $border-color;
        padding         : 10px 36px 0px 10px;
        min-height      : 46px;
        cursor          : pointer;

        &:hover {
            background: $background-select;
        }
    }

    &__single {
        color     : $font-color;
        background: none;
        font-size : $font-size;
    }

    &__select {
        top            : 4px;
        display        : flex;
        align-items    : center;
        justify-content: center;

        &::before {
            // border-color: $font-color transparent transparent;
            content   : url("/img/arrow_down.svg");
            width     : 10px;
            position  : static;
            border    : none;
            margin-top: 0;
        }
    }

    &__select:hover+&__tags,
    &--active &__tags {
        background: $background-select;
    }

    // &--active &__tags {
    //     background: white;
    //     color     : black;
    // }

    // &--active &__single {
    //     color: black;
    // }


    &__content {
        &-wrapper {
            background          : $background-select;
            // background       : white;
            // color            : black !important;
            // border-radius : 0;
            color               : $font-color;
            text-transform      : uppercase;
            border              : 1px solid $border-color;
        }
    }

    &__option {
        background   : none !important;
        color     : $font-color;
        // color        : black;
        font-size    : $font-size;

        // &:hover {
        //     background: none;
        // }

        // &--highlight {
        //     background: none;
        // }

    }
}

// .app-button {
//     background: $button-background;
//     padding   : 0 48px;
//     height    : 40px;
//     border    : 1px solid $color-violet;
//     transition: all 0.1s;
//     border-radius: $default-border-radius;

//     &:hover:not(:disabled) {
//         cursor       : pointer;
//         background   : $color-violet;
//         // color     : $button-background;
//         color        : white;
//     }

//     &--danger {
//         background  : $color-delete;
//         border-color: $default-text-color;
//     }
// }

// .app__inner {
//     padding   : $app-padding;
//     min-height: calc(100vh - 90px - 64px);

//     &--full {
//         padding: 0;
//     }
// }

// .app-input {
//     // padding  : 8px;
//     padding      : 0 8px;
//     height       : 40px;
//     border       : 1px solid $default-border-color;
//     outline      : none;
//     border-radius: $default-border-radius;

//     &:focus {
//         border: 1px solid $dark-border-color;
//     }

//     &:disabled {
//         background: $color-disabled;
//         border    : 1px solid $dark-border-color;
//     }

//     &::placeholder {
//         font-size: 14px;
//     }

//     &__wrap {
//         display       : flex;
//         flex-direction: column;
//         position      : relative;

//         &:not(:first-child) {
//             padding-bottom: 20px;
//         }

//         label {
//             font-size: 13px;
//         }
//     }

//     &__icon {
//         position: absolute;
//         left    : 8px;
//         width   : 24px;
//         bottom  : 8px;

//         &-clear {
//             right : 8px;
//             left  : auto;
//             width : 16px;
//             bottom: 12px;
//             cursor: pointer;

//             &:hover {
//                 opacity: 0.65;
//             }
//         }
//     }

//     &__error {
//         position : absolute;
//         bottom   : 0;
//         color    : $color-danger;
//         font-size: 13px;
//     }

//     &__change-button {
//         position  : absolute;
//         outline   : none;
//         border    : none;
//         background: transparent;
//         cursor    : pointer;
//         right     : 0;
//         transition: all 0.1s;

//         &:hover {
//             transform: scale(1.1);
//         }

//         img {
//             width : 26px;
//             height: 26px;
//         }
//     }
// }

// .app-modal {
//     width     : 512px;
//     max-width : 90%;
//     position  : relative;
//     left      : 50%;
//     top       : 50%;
//     transform : translate(-50%, -50%);
//     background: $card-background;

//     &__inner {
//         margin   : 0 !important;
//         width    : 100% !important;
//         max-width: 100% !important;
//     }

//     &__close {
//         position  : absolute;
//         right     : 10px;
//         top       : 14px;
//         background: none;
//         outline   : none;
//         border    : none;
//         cursor    : pointer;
//         transition: all 0.1s;

//         &:hover {
//             transform: scale(1.1);
//         }

//         img {
//             width : 22px;
//             height: 22px;
//         }
//     }
// }