* {
    box-sizing : border-box;
    font-family: "Montserrat", sans-serif;
}

.app {
    color     : white;
    background: $background-color;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 600;
}

body {
    font-size: $font-size;
}

.fz-sm {
    font-size: 13px;
}

.ta-center {
    text-align: center;
}

.mb-max {
    margin-bottom: 24px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.capitalize {
    text-transform: capitalize;
}

.app-heading {
    font-size  : 32px;
    line-height: 1;
    text-align : center;
}

.app-subheading {
    margin    : 24px auto;
    text-align: center;
    width     : 80%;

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.app-line {
    position: relative;
    top     : -120px;
}

.multiselect {
    &__tags {
        // background      : $background-select;
        background      : none;
        // border-radius: 0;
        border-radius   : $border-radius;
        border          : 1px solid $border-color;
        padding         : 10px 36px 0px 10px;
        min-height      : 46px;
        cursor          : pointer;

        &:hover {
            background: $background-select;
        }
    }

    &__single {
        color     : $font-color;
        background: none;
        font-size : $font-size;
    }

    &__select {
        top            : 4px;
        display        : flex;
        align-items    : center;
        justify-content: center;

        &::before {
            // border-color: $font-color transparent transparent;
            content   : url("/img/arrow_down.svg");
            width     : 10px;
            position  : static;
            border    : none;
            margin-top: 0;
        }
    }

    &__select:hover+&__tags,
    &--active &__tags {
        background: $background-select;
    }

    // &--active &__tags {
    //     background: white;
    //     color     : black;
    // }

    // &--active &__single {
    //     color: black;
    // }


    &__content {
        &-wrapper {
            background          : $background-select;
            // background       : white;
            // color            : black !important;
            // border-radius : 0;
            color               : $font-color;
            text-transform      : uppercase;
            border              : 1px solid $border-color;
        }
    }

    &__option {
        background      : none !important;
        color           : $font-color;
        // color        : black;
        font-size       : $font-size;

        // &:hover {
        //     background: none;
        // }

        // &--highlight {
        //     background: none;
        // }

    }
}

.app-modal {
    position       : absolute;
    z-index        : 5;
    width          : 100%;
    height         : 100%;
    background     : rgba(0, 0, 0, 0.5);
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.carousel {

    &__icon,
    &__next,
    &__prev {
        width : 40px !important;
        height: 40px !important;
    }

    &__icon {
        fill: white !important;

    }

    &__next {
        right: -40px !important;

        @media screen and (max-width: 768px) {
            right: -20px !important;
        }
    }

    &__prev {
        left: -40px !important;

        @media screen and (max-width: 768px) {
            left: -20px !important;
        }
    }
}