$border-color          : rgba(255, 255, 255, 0.4);
$border-color-light    : white;
$background-color      : #0d0d0d;
$background-color-light: white;
$background-select     : hsl(0 0% 100% / .2);
$active-color          : rgba(136, 91, 212, 0.5);
$font-color            : white;
$font-color-dark       : #0d0d0d;
$padding               : 40px;
$padding-small         : 10px;
$margin-big            : 24px;
$margin-small          : 16px;
$font-size             : 18px;
$font-size-small       : 15px;
$border-radius         : 5px;

$button-padding: 8px 16px;
$button-border-radius: 50px;